.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.CreateTodoButton {
    text-decoration: none;
    border: 3px solid whitesmoke;
    color: transparent;
    padding: 20px 160px;
    font-size: 22px;
    letter-spacing: 5px;
    transition: all 0.5s;
    position: absolute;
    cursor: pointer;
  }

  .CreateTodoButton:before {
    content: "Create a new task!";
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background: rgb(34, 34, 34);
    font-size: 22px;
    top: 0;
    left: 100%;
    letter-spacing: 5px;
    transition: all 1s;
    height: 100%;
    width: 100%;
    position: absolute;
    transform: scale(0) rotatey(0);
    opacity: 0;
  }

  .CreateTodoButton:hover:before {
    transform: scale(1) rotatey(360deg);
    left: 0;
    opacity: 1;
  }
  
  .CreateTodoButton:after {
    content: "Create a new task!";
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background: rgb(34, 34, 34);
    font-size: 22px;
    top: 0;
    left: 0;
    letter-spacing: 5px;
    transition: all 1s;
    height: 100%;
    width: 100%;
    position: absolute;
    transform: scale(1) rotatey(0);
    opacity: 1;
  }

  .CreateTodoButton:hover:after {
    transform: scale(0) rotatey(360deg);
    left: -100%;
    opacity: 0;
  }
  